
/*#logout{
	float: right;
}
li{
	margin-top: 5px;
}

#navlist{
	margin-left:10%;
}
#courses{
	margin-left: 120px;
	margin-top: -34px;
}
#prog{
	margin-top: 10px;
}
#logout{
	float: right;
	margin-right: 10px;
	margin-top: -39px;

}*/

#nb{
margin-top: 20px;
}
table{
	margin-top: 100px;
}