body{

	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-signin{
	width: 30%;
	margin: auto;
	margin-top: 20%;
}

.btn{
	margin-top: 7px;
}

label{
	margin-top: 5px;
	float: right;
}
input{
	margin-top: 5px;
}
